@model List<BankOfSimba.Models.BankAccount>
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank of Simba</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form method="post" action="allclients">
        <table style="text-align:center; font-family:'Comic Sans MS';" bgcolor="yellow" bordercolor="black">
            <tr style="color:yellow" bgcolor="black">
                <th>Index</th>
                <th>Name</th>
                <th>Balance</th>
                <th>Type</th>
                <th>Power Status</th>
                <th>Goodness Status</th>
                <th>EU Money Support</th>
            </tr>
            @foreach (BankOfSimba.Models.BankAccount element in Model)
            {
                <tr style=@(element.IsKing ? "color:red" : "color:black" )>
                    <td>@(index++)</td>
                    <td>@element.Name</td>
                    <td>Ƶ @element.Balance</td>
                    <td>@element.AnimalType</td>
                    <td>@(element.IsKing ? "King" : "")</td>
                    <td>@(element.IsGood ? "Good One" : "Bad Guy")</td>
                    <td>
                        <form action="/increase" method="post">
                            <input type="hidden" name="name" value="@element.Name" />
                            <button type="submit" style="width:100%; font-family:'Comic Sans MS'">Steal some</button>
                        </form>

                        
                    </td>
                </tr>
            }
        </table>
    </form>
</body>
</html>