@model List<BankOfSimba.Models.BankAccount>
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank of Simba</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    @{int index = 1; }
    <table style="text-align:center">
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Type</th>
            <th>Power Status</th>
            <th>Goodness Status</th>
        </tr>
        @foreach (BankOfSimba.Models.BankAccount element in Model)
        {
            <tr style=@(element.IsKing ? "color:red" : "color:black" )>
                <td>@(index++)</td>
                <td>@element.Name</td>
                <td>Ƶ @element.Balance</td>
                <td>@element.AnimalType</td>
                <td>@(element.IsKing ? "King" : "")</td>
                <td>@(element.IsGood ? "Good One" : "Bad Guy")</td>
            </tr>
        }
    </table>
</body>
</html>