@model BusListManager.Models.Bus
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update bus</title>
</head>
<body>
    <h1 style="text-align:center">Update bus</h1>

    <div style="text-align:center">

        @using (Html.BeginForm("UpdateRow", "List"))
        {
            <input type="hidden" name="Id" value="@Model.Id" />
            <table align="center" style="text-align:center" border="1">
                <tr>
                    <td>Number</td>
                    <td>Prev. number</td>
                    <td>License plate</td>
                    <td>Prev. lic. pl.</td>
                    <td>Type</td>
                    <td>Depot</td>
                </tr>
                <tr>
                    <td>@Html.TextBoxFor(model => model.Number)</td>
                    <td>@Html.TextBoxFor(model => model.FormerNumber)</td>
                    <td>@Html.TextBoxFor(model => model.LicensePlate)</td>
                    <td>@Html.TextBoxFor(model => model.FormerLicensePlate)</td>
                    <td>@Html.TextBoxFor(model => model.Type)</td>
                    <td>@Html.TextBoxFor(model => model.Depot)</td>
                </tr>
                <tr>
                    <td>Date of get</td>
                    <td>Date of withdrawal</td>
                    <td>Distance (km)</td>
                    <td>Op. status</td>
                    <td>Comments</td>
                    <td>Update</td>
                </tr>
                <tr>
                    <td>@Html.TextBoxFor(model => model.DateOfGet)</td>
                    <td>@Html.TextBoxFor(model => model.DateOfWithdrawal)</td>
                    <td>@Html.TextBoxFor(model => model.Kilometer)</td>
                    <td>@Html.TextBoxFor(model => model.IsInOperation)</td>
                    <td>@Html.TextBoxFor(model => model.Comments)</td>
                    <td>
                        <input class="button" type="submit" value="Save">
                    </td>
                </tr>
            </table>
        }
    </div>
</body>
</html>